body { 
    margin: 0 auto !important;
    background-color: white;
}

#audio {
<<<<<<< HEAD
    display: none;
    width: 200%;
    margin-left: -50%;
=======
    margin: 0 auto;
    display: none;
<<<<<<< HEAD
>>>>>>> 3beac70 (first run)
=======
    width: 130%;
>>>>>>> a16bf3b (yes)
}

.image {
    width: 100vw;
<<<<<<< HEAD
<<<<<<< HEAD
    max-height: 100vh;
    margin: 0 auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
=======
=======
    max-height: 100vh;
>>>>>>> a16bf3b (yes)
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 60vw;
    max-width: 1000px;
>>>>>>> 3beac70 (first run)
}

.text {
    align-self: center;
    margin: 0 auto;
    font-family: sans-serif;
<<<<<<< HEAD
    font-size: 48px;
    margin-top: 25px;
    font-weight: bold;
}

.logo-container {
    display: flex;
    align-content: center;
    width: 80vw;
}

.p-text {
    font-family: sans-serif;
    font-size: 32px;
    align-self: center;
    text-align: center;
    margin-top: 10px;
    max-width: 80vw;
}

.coming-text {
    padding-top: 60px;
    padding-bottom: 60px;
}

.submit-button {
    padding: 10px auto;
    margin: 10px auto;
    width: 30.6vw;
}
=======
    font-size: 66px;
}

<<<<<<< HEAD
>>>>>>> 3beac70 (first run)
=======
.about-text {
    font-family: sans-serif;
    font-size: 32px;
}

.coming-text {
    padding-top: 120px;
}

.submit-button {
    padding: 10px auto;
    margin: 10px auto;
    width: 30.6vw;
}

>>>>>>> a16bf3b (yes)

.container {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    margin-top: 33px;
}
  
.form-control {
    display: flex;
    width: 30vw;
    border-radius: 5px;
    border: 2px solid #2F2F2F;
    height: 30px;
    text-align: center;
}

button {
    background-color: #2F2F2F;
    border: none;
    color: #ddd;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    height: 35px;
    text-align: center;
=======
}
  
.form-control {
display: flex;
width: 30vw;
border-radius: 5px;
border: 2px solid #2F2F2F;
height: 30px;
text-align: center;;
}

button {
background-color: #2F2F2F;
border: none;
color: #ddd;
margin: 0 auto;
padding: 10px;
border-radius: 5px;
height: 35px;
<<<<<<< HEAD
>>>>>>> 3beac70 (first run)
=======
text-align: center;
>>>>>>> a16bf3b (yes)
}


@media only screen and (max-width: 600px) {
<<<<<<< HEAD
    .image {
        display: flex;
        justify-self: center;
        width: 106vw;
=======


    .image {
        display: flex;
        justify-self: center;
>>>>>>> 3beac70 (first run)
    }
    
    .text {
        align-self: center;
        margin: 0 auto;
        font-family: sans-serif;
        font-size: 36px;
    }

<<<<<<< HEAD
    .about-text {
        font-family: sans-serif;
        font-size: 18px;
    }
    
    .logo-container {
        width: 104vw;
    }

    .logo {
        display: flex;
        margin: 0 auto;
        width: 95vw;
    }

    .submit-button {
        padding: 10px auto;
        margin: 10px auto;
        width: 82.5vw;
=======
    .logo {
        display: flex;
        justify-content: center;
        width: 80vw;
>>>>>>> 3beac70 (first run)
    }

    .form-control {
        display: flex;
        width: 80vw;
       
        border: 2px solid #2F2F2F;
<<<<<<< HEAD
    }

    .p-text {
        font-size: 20px;
    }
=======
        }
>>>>>>> 3beac70 (first run)
  }